html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
  background-color: #000;
}

button { outline: none; }

*, *:after, *:before { box-sizing: border-box; }

img { max-width: 100%; }