@import "base";

@import "layout/wrapper";

@import
  "components/webgl",
  "components/splash",
  "components/modal",
  "components/uploader";

.next {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
  padding: 16px 32px;
}